* {
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../img/4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.cons {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 20px;
    margin-right: 0;
}

.cons2 {
    padding-right: 15px;
    margin-right: 0;
}

.kartu {
    margin: 0 auto;
    margin-top: 10rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .03);
    transition: all .3s;
}

.kartu2 {
    margin: 0 auto;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .03);
    transition: all .3s;
}

.kard {
    margin-left: 3rem;
}

table {
    width: 100%;
    border: 0;
    margin-bottom: 20px;
}

.table2 {
    width: 60%;
    border: 0;
    margin-bottom: 20px;
}

.table3 {
    width: 86%;
    border: 0;
    margin-bottom: 20px;
}

.foto {
    padding: 20px;
}

tbody {
    font-size: 20px;
    font-weight: 300;
}

.biodata {
    margin-top: 30px;
}

#myDIV {
    display: none;
    margin-top: 20px;
}

button {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 50%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
    margin-bottom: 200px;
}

button:hover {
    background-color: #4095c6;
}

@media all and (max-width:30em) {
    button {
        display: block;
        margin: 0.2em auto;
    }
}

.wrap {
    margin-bottom: 2rem;
}