body {
    background-color: blue;
}

#header {
    background-color: brown;
    padding: 1px;
}

#fcc-logo {
    height: 50px;
}

.panel {
    border-color: brown;
    background-color: -gray;
    margin-top: 10px;
}

.panel-heading {
    background-color: brown;
    color: gray;
    border-bottom: none;
    text-align: center;
    padding-bottom: 0;
}

#panel-title {
    margin: 0px;
}

.nav-tabs {
    border: none;
}

.nav-tabs a {
    color: gray;
}

.nav-tabs>li.active>a {
    background-color: gray !important;
    color: brown;
}

.nav-tabs>li>a:hover {
    background-color: brown;
    border: none;
}

.proPic {
    border-radius: 5px;
    margin-right: 10px;
}

.camperName {
    font-size: 16px;
}

.hidden {
    display: none;
}